<h2>Сайт под ключ разработал <strong>Денис</strong>.
<br> Контакты для связи:
</h2>
<h3> Почта: alzater@mail.ru </h3>
<h3> Вконтакте: <%=link_to "alzater", "https://vk.com/alzater" %></h3>
<h2>Дизайн разработала <strong>Анастасия</strong>.
<br> Контакты для связи:
</h2>
<h3> Вконтакте: <%=link_to "Настя Спивакова", "https://vk.com/id137667679" %></h3>
<h3> Инстаграм: <%=link_to "@spivakush ", "https://instagram.com/spivakush" %></h3>
