<h3><p class="pclass">
  Предлагаем Вам арендовать гостевой дом-баню, чтобы снять напряжение, 
  отдохнуть душевно и просто в удовольствие попариться. «Медвежий угол» 
  станет настоящей находкой для тех, кто находиться в постоянной спешке и у кого не хватает 
  времени на долгий отдых. Мы рады предложить Вам настоящую баню на дровах. Жаркая парилка, 
  наполненная волшебным ароматом душистых трав, ржаного хлеба и меда, снимет Вашу усталость как рукой, 
  уйдет хандра и печаль, тело приобретет лёгкость, а помыслы — чистоту.  У нас Вы сможете отдохнуть как 
  вдвоем, так и веселой компанией, или с большой семьей, ведь рассчитана такая баня на 12 человек.
   От такого предложения сложно отказаться!
</p></h3>
<h2 align="center"><strong>Описание</strong></h2>
<table>
  <tr>
    <td width="50%">
      <h4>
        <ul class="main-ul">
          <li>Баня: на дровах</li>
          <li>Камин: в гостиной</li>
          <li>Мангал, барбекю: на территории</li>
          <li>Беседка</li>
          <li>Кол-во спален: 3</li>
          <li>2-х этажный дом</li>
          <li>Парковка машин: стоянка за пределами территории участка на 5 машин.</li>
          <li>Дом: из сибирской сосны, построен по эксклюзивному проекту, полностью меблирован.</li>
          <li>Первый этаж: гостиная с диваном на два спальных места, открытая терраса,  парилка на 8 человек, кухня, сан. узел.</li>
        </ul>
      </h4>
    </td>
    <td>
      <img class="img-responsive menuitem" src="images/parilka.jpg" alt="Баня" />
    </td>
  </tr>
  <tr>
    <td>
      <img class="img-responsive menuitem" src="images/komnata.jpg" alt="Баня" />
    </td>
    <td>
      <h4>
        <ul>
          <li>Второй этаж: три спальни на 8 спальных мест</li>
          <li>В доме: холодильник, электрическое отопление, спутниковое телевидение, коммуникации, электрическая плита, микроволновая печь, домашний кинотеатр, караоке, электрический чайник.</li>
          <li>Участок: 8 соток, газон, лесные и декоративные деревья.</li>
          <li>Курение в доме строго запрещено, заезд с животными обговаривается, на участке нельзя шуметь после 23 часов, в доме шуметь можно круглосуточно, в стоимость аренды входит постельное белье и посуда.</li>
        </ul>
      </h4>
    </td>
  </tr>
</table>

    
<h3>
  <p class="pclass">Вы сможете у нас снять дом-баню недорого и на любой срок — от пары часов до нескольких дней. 
  Мы поможем Вам забыть обо всех Ваших проблемах, отдохнув на славу!
  </p>
</h3>
