<h3><p class="pclass">Предлагаем Вам арендовать гостевой дом-баню, 
чтобы снять напряжение, отдохнуть душевно и просто
 в удовольствие попариться. «Медвежий угол» станет 
 настоящей находкой для тех, кто находиться в постоянной 
 спешке и у кого не хватает времени на долгий отдых. Мы рады 
 предложить Вам настоящую баню на дровах. Жаркая парилка, наполненная
  волшебным ароматом душистых трав, ржаного хлеба и меда, снимет Вашу 
  усталость как рукой, уйдет хандра и печаль, тело приобретет лёгкость, 
  а помыслы — чистоту.  У нас Вы сможете отдохнуть как вдвоем, так и 
  веселой компанией, или с большой семьей, ведь рассчитана такая баня
   на 12 человек. От такого предложения сложно отказаться!
</p></h3>
<h3><strong>Описание</strong></h3>
<h4>
  <p class="pclass">
    Баня: на дровах
    Камин: в гостиной
    Мангал, барбекю: на территории
    Беседка
    Кол-во спален: 3
    2-х этажный дом
    Парковка машин: стоянка за пределами территории участка на 5 машин.
    Дом: из сибирской сосны, построен по эксклюзивному проекту, полностью меблирован.
    Первый этаж: гостиная с диваном на два спальных места, открытая терраса,  парилка на 8 человек, кухня, сан. узел.
    Второй этаж: три спальни на 8 спальных мест 
    В доме: светомузыка, холодильник, электрическое отопление, спутниковое телевидение, коммуникации, электрическая плита, микроволновая печь, домашний кинотеатр, караоке, музыкальный центр, электрический чайник.
    Участок: 8 соток, газон, лесные и декоративные деревья.
    Курение в доме строго запрещено, заезд с животными обговаривается, на участке нельзя шуметь после 23 часов, в доме шуметь можно круглосуточно, в стоимость аренды входит постельное белье и посуда.
  </p>
  <p class="pclass">Вы сможете у нас снять дом-баню недорого и на любой срок — от пары часов до нескольких дней. 
    Мы поможем Вам забыть обо всех Ваших проблемах, отдохнув на славу!
  </p>
</h4>
