<h1> Наши цены</h1>
<table>
  <tr>
    <td width="60%">
      <h3>
        Аренда за час с понедельника по четверг: 
        <ul>
          <li>
            до <strong>3-x</strong> человек <strong>3000</strong> рублей
          </li>
          <li>
            До <strong>6-ти</strong> человек - <strong>4800</strong> рублей
          </li>
          <li>
            До <strong>12-ти</strong> человек - <strong>7200</strong> рублей.
          </li>
        </ul>
      </h3>
      <h2>
        Цена аренды на сутки:<p />
        <ul>
          <li>
            с пятницы по воскресенье - <strong>30000</strong> руб.<p />
          </li>
          <li>
            с понедельника по пятницу - <strong>20000</strong> руб.
          </li>
        </ul>
      </h2>
    </td>
    <td>
      <img class="img-responsive menuitem" src="images/parilka.jpg" alt="Баня" />
    </td>
  </tr>
</table>
