<h1> Наши цены</h1>
<style>
  td{border: 1px black solid; font-size:20px; padding:3px;text-align:center; wertical-align:middle}
</style>
<table style="">
  <tr>
    <td colspan="2">
      <div>
      <img class="img-responsive" src="images/parilka.jpg" alt="Баня" />
      </div>
    </td>
    <td style="font-size:30px">
      Будние дни
      <p style="font-size:15px">с понедельника по пятницу до 16.00</p>
    </td>
    <td style="font-size:30px">
      Выходные дни
      <p style="font-size:15px">с пятницы 17.00 до воскресенья 18.00 </p>
    </td>
  </tr>
  <tr>
    <td width="15%" rowspan="2">
      за час
      <p style="font-size:15px"> не менее 3-х часов </p>
    </td>
    <td width="15%">
      до 6 человек
    </td>
    <td width="25%">
      <strong>1500</strong>
    </td>
    <td width="45%">
      <strong>2500</strong>
    </td>
  </tr>
  <tr>
    <td>
      до 10 человек
    </td>
    <td>
      <strong>2000</strong>
    </td>
    <td>
      <strong>3000</strong>
    </td>
  </tr>
  <tr>
    <td rowspan="2">
      за сутки
    </td>
    <td>
      до 6 человек
    </td>
    <td>
      <strong>10000</strong>
    </td>
    <td style="text-align:left;">
      <p>2 дня с пятницы с 17 часов по 18 часов воскресенья <strong>36000</strong></p>
      <p>пятница с 17 часов по 15 часов субботы <strong>18000</strong></p>
      <p>с 17 часов субботы до 18 часов воскресенья <strong>24000</strong></p>
    </td>
  </tr>
  <tr>
    <td>
      до 10 человек
    </td>
    <td>
      <strong>12000</strong>
    </td>
    <td style="text-align:left;">
      <p>2 дня с пятницы с 17 часов по 18 часов воскресенья <strong>50000</strong></p>
      <p>пятница с 17 часов по 15 часов субботы <strong>25000</strong></p>
      <p>с 17 часов субботы до 18 часов воскресенья <strong>25000</strong></p>
    </td>
  </tr>
</table>
<!--
<div class=container-fluid>
  <div class="col-xs-4">
    &nbsp;
  </div>
  <div class="col-xs-4">
    Будние дни
    <p>с понедельника по пятницу до 16.00</p>
  </div>
  <div class="col-xs-4">
    Выходные дни
    <p>с пятницы 17.00 до воскресенья 18.00 </p>
  </div>
  <div class="col-xs-2">
    
  </div>
  
</div>
<table>
  <tr>
    <td width="60%">
      <h3>
        Аренда за час с понедельника по четверг: 
        <ul>
          <li>
            до <strong>3-x</strong> человек <strong>3000</strong> рублей
          </li>
          <li>
            До <strong>6-ти</strong> человек - <strong>4800</strong> рублей
          </li>
          <li>
            До <strong>12-ти</strong> человек - <strong>7200</strong> рублей.
          </li>
        </ul>
      </h3>
      <h2>
        Цена аренды на сутки:<p />
        <ul>
          <li>
            с пятницы по воскресенье - <strong>30000</strong> руб.<p />
          </li>
          <li>
            с понедельника по пятницу - <strong>20000</strong> руб.
          </li>
        </ul>
      </h2>
    </td>
    <td>
      <img class="img-responsive menuitem" src="images/parilka.jpg" alt="Баня" />
    </td>
  </tr>
</table>
-->
