/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require jquery.remodal
 *= require jquery.fancybox
 *= require bootstrap.min
 *= require_self
 */
 
 
@import "http://webfonts.ru/import/stalinist.css";
 
#header{
	width:100%;
}
	
#footer{
	height:266px;
	width:100%;
	text-align:center;
	background:url(/images/design/footerback.png) repeat;
}
#infooter{
	height:266px;
	width:100%;
	text-align:center;
	background:url(/images/design/coals.png) bottom repeat-x;
}

#transback{
	margin:20px 30px 30px 30px;
	background:url(/images/design/transback.png) repeat;
    z-index:-1;
}
#wrapper{
	margin: 30px 5% 10px 5%;
}
.blabel{
	position:relative;
	top:-60px;
        text-align:center;
}

.bear-right{
        text-align:right;
}

body{
	background: url(/images/design/background.jpg) repeat;
	padding:0;
	margin:0;
	border:0;
	width:100%;
	height:100%;
}
.menu{
	width:100%;
}

.main-container{
        margin-top: 8px;
}

.menuitem{
	font-size: 18px;
	float:left;
	font-family: 'Stalinist One';
	margin: 3px 10px;
        border: #660000 5px solid;
        padding:5px;
        background: url(/images/design/m-label-back.png);
        color: #440000;
}

.menuitem a{
	color:black;
        vertical-align:middle;
}

.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}

.bpanel{
	display:block;
	padding:7px;
	background: url(/images/design/bpanel.png) repeat;
}
.inbpanel{
	display:block;
	padding: 20px 25px;
	background: url(/images/design/inbpanel.png) repeat;
	vertical-align:middle;
}
.menucontent{
	height:100%;
	margin: 3% 6% 3% 5%;
}
.content{
	margin-right:5%;
}
.middleblock{
	margin-top:5%;
	margin-bottom:5%;
}

#menutd{
	width:20%;
	height:100%;
}

.table-frame{
        width:100%;
}
.pclass{
  text-indent: 50px;
  text-align:justify;
}

.photobar{
        margin-top:10px;
        height:100px;
        border: #660000 5px solid;
        background: url(/images/123.jpg);
}

